<ion-view view-title="About">
  <ion-content>
		<ion-list>
			<ion-item>
				<div class="wrapper">
					<img src="img/ionic.png">
					<h1>Counter</h1>
				</div>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-chatboxes"></i>
				Contact Us
				<span class="item-note">
					yoshua_andrew@yahoo.com
				</span>
			</ion-item>
			<ion-item class="item-icon-left">
				<i class="icon ion-ionic"></i>
				Using Ionic Framework
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
